@charset "UTF-8";
body {
  margin: 0;
  background: radial-gradient(circle at bottom left, #643E72 0%, #323264 80%);
}

.review,
.clients {
  background-color: white;
}

.publications {
  background-color: #F5F5FA;
}

.footer {
  background-color: #F5F5FA;
}

body {
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden; /* Забороняє горизонтальний скрол на рівні сторінки */
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

.footer__container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 40px;
  border-top: 2px solid #E6E6F0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__top-left {
  display: flex;
  gap: 26px;
}

.footer__contacts {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.footer__address {
  color: #323264;
  font-size: 16px;
  position: relative;
}
.footer__address::before {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  top: 5px;
  right: -16px;
}

.footer__map-link {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #24A3FF;
}

.footer__phone {
  font-weight: 700;
  color: #46466E;
  font-size: 16px;
  line-height: 100%;
  padding: 0 26px;
  position: relative;
}
.footer__phone::before {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  top: 5px;
  right: 10px;
}
.footer__phone::after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  top: 5px;
  left: 10px;
}

.footer__email {
  font-weight: 700;
  color: #24A3FF;
  line-height: 100%;
}

.footer__copyright {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 100%;
}

@media (max-width: 1680px) {
  .footer__container {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) {
  .footer__container {
    max-width: 904px;
  }
}
@media (max-width: 992px) {
  .footer__container {
    max-width: 648px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    max-width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .footer__top,
  .footer__bottom {
    display: contents;
  }
  .footer__top-left {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer__contacts {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
    margin-top: 21px;
    margin-bottom: 30px;
  }
  .footer__copyright {
    order: 3;
    text-align: center;
  }
  .footer__address::before,
  .footer__phone::before,
  .footer__phone::after {
    display: none;
  }
}
.home {
  position: relative;
  padding-bottom: 970px;
}

.home__container {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  z-index: 10;
}

.home__right-side {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
}

.home__container-information {
  display: flex;
  justify-content: end;
  gap: 18px;
  align-items: center;
}

.home__content-navigation {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0px;
  margin: 0;
}

h1,
h2,
p,
a {
  color: white;
  margin: 0px;
  padding: 0px;
}

.links {
  font-weight: 700;
  font-size: 16px;
}

.change-language {
  width: 33px;
  height: 25px;
  background-color: transparent;
  border: 0px solid;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
}

.home__language-switcher {
  display: flex;
  gap: 0px;
  align-self: baseline;
}

.active {
  background-color: #F0145A;
  border-radius: 8px;
}

.home__street {
  position: relative;
}

.home__street::before {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  top: 5px;
  left: -12px;
}

.home__street::after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  top: 5px;
  right: -12px;
}

.home__number {
  position: relative;
  font-weight: 700;
}

.home__number::after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  top: 5px;
  right: -11px;
}

.home__hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home__hero-content {
  position: relative;
}

.home__hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100vw;
  font-size: 38px;
  line-height: 100%;
}

.home__hero-scroll {
  z-index: 1;
}

.home__hero-logo {
  max-width: 100%;
}

.home__hero-arrow {
  display: block;
  content: "";
  width: 42px;
  height: 42px;
  border: 2px solid #FFFFFF;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.home__hero-arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: translate(-50%, -70%) rotate(45deg);
}

@media (max-width: 1680px) {
  .home__container {
    max-width: 1320px;
  }
  .home {
    padding-bottom: 750px;
  }
  .home__hero-logo {
    max-width: 697px;
  }
}
@media (max-width: 1400px) {
  .home__container {
    max-width: 904px;
  }
  .home__hero-logo {
    max-width: 670px;
  }
}
@media (max-width: 992px) {
  .home__container {
    max-width: 648px;
    display: grid;
  }
  .home__right-side {
    align-items: start;
    gap: 120px;
  }
  .home__container-img {
    position: absolute;
    top: 105px;
  }
  .home__hero-logo {
    max-width: 893px;
  }
  .home {
    padding-bottom: 1084px;
  }
}
@media (max-width: 768px) {
  .home__container {
    max-width: 100%;
    display: grid;
    padding-top: 0px;
    justify-content: revert;
  }
  .home__right-side {
    align-items: start;
    gap: 120px;
    width: 100%;
  }
  .home__container-img {
    position: absolute;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .home__container-img img {
    max-width: 70px;
  }
  .home__container-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0px;
    padding: 10px 15px;
    background-color: rgba(245, 245, 250, 0.2);
    box-sizing: border-box;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .burger-menu::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    box-shadow: 0 -8px 0 0 white, 0 8px 0 0 white;
  }
  .home__street {
    display: none;
  }
  .home__container-information > div:last-child {
    display: none;
  }
  .home__number {
    margin: 0;
  }
  .home__number::after {
    display: none;
  }
  .home__hero-logo {
    max-width: 523px;
  }
  .home__hero-title {
    width: auto;
  }
  .home {
    padding-bottom: 465px;
  }
  .home__content-navigation {
    display: none;
  }
}
.main__bg {
  position: relative;
}
.main__bg::after {
  content: "";
  display: block;
  width: 97.9%;
  height: 10px;
  position: absolute;
  background-color: #CACADB;
  bottom: -10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 50%;
  transform: translate(-50%);
}
.main__bg::before {
  content: "";
  display: block;
  width: 96%;
  height: 10px;
  position: absolute;
  background-color: #E7E7F2;
  bottom: -20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 50%;
  transform: translate(-50%);
}

.main__services-left {
  position: relative;
}
.main__services-left::after {
  content: "";
  display: block;
  width: 4px;
  height: 303px;
  position: absolute;
  top: -14.5px;
  right: -67px;
  background-color: rgba(255, 255, 255, 0.3);
}

.main__container-services {
  max-width: 1360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: 124px;
}

.main__services-left {
  display: flex;
  text-align: end;
}

.item {
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  color: #B3B3BA;
  user-select: none;
}
.item:hover {
  color: #F0145A;
}

.main__services-list {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.gradient-text {
  background: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__services-title {
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
}

.main__services-text {
  line-height: 30px;
  font-size: 19px;
  padding-top: 37px;
}

.main__services-right {
  align-content: center;
}

.advantages {
  padding: 102px 0;
}
.advantages__container {
  max-width: 1600px;
  margin: 0 auto;
}
.advantages__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #F0145A 10%, #EF8080 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
}

.adv-card__title {
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 35px;
  margin-bottom: 15px;
}

.adv-card__text {
  font-size: 16px;
  line-height: 26px;
}

.img-card {
  border-radius: 24px;
  background-color: white;
  padding: 14px;
}

.review {
  padding: 80px 0;
}

.review__container {
  max-width: 1600px;
  margin: 0 auto;
}

.review__card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 30px;
  border-radius: 12px;
  background: #F5F5FA;
}

.review__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.review__content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.review__dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.review__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ddd;
  border: none;
}

.review__dot--active {
  background: #24A3FF;
}

.review__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.review__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  background: linear-gradient(90deg, #F0145A 0%, #F0145A 45%, #EF8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-break: break-word;
}

.review__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: #B3B3BA;
  padding-bottom: 6px;
}

.review__position {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.container__partner {
  margin-top: 43px;
}

.clients {
  padding-bottom: 60px;
}

.clients__container {
  max-width: 1720px;
  margin: 0 auto;
}

.clients__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}

.clients__title {
  text-align: center;
  color: #323264;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 30px;
}

.publications {
  padding: 30px 0;
}
.publications__container {
  max-width: 1600px;
  margin: 0 auto;
}
.publications__label {
  margin-bottom: 10px;
}
.publications__title {
  margin-bottom: 30px;
}
.publications__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.pub-card {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.pub-card__image img {
  width: 100%;
  display: block;
}

.pub-card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 30px;
  padding-bottom: 30px;
}

.publications__label {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: #24A3FF;
}

.pub-card__title {
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  color: #24A3FF;
  margin-top: 34px;
}

.pub-card__date {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: #B3B3BA;
}

.pub-card__text {
  font-size: 14px;
  line-height: 22px;
  color: black;
  border-top: 4px solid #E6E6F0;
  margin-top: 1.5px;
  padding-top: 12.5px;
}

.publications__title {
  background: linear-gradient(90deg, #F0145A 0%, #EF8080 30%);
  line-height: 120%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
}

@media (max-width: 1680px) {
  .main__container-services {
    max-width: 1080px;
  }
  .advantages__container {
    max-width: 1320px;
  }
  .review__container {
    max-width: 1320px;
  }
  .publications__container {
    max-width: 1320px;
  }
  .clients__container {
    max-width: 1440px;
  }
  .img-clients {
    max-width: 360px;
    height: 120px;
  }
  .img-publications {
    min-width: 420px;
    height: 200px;
  }
}
@media (max-width: 1400px) {
  .main__container-services {
    max-width: 904px;
  }
  .advantages__container {
    max-width: 904px;
  }
  .review__container {
    max-width: 904px;
  }
  .publications__container {
    max-width: 904px;
  }
  .clients__container {
    max-width: 1024px;
  }
  .img-clients {
    max-width: 256px;
    height: 120px;
  }
  .img-publications {
    min-width: 281px;
    height: 200px;
  }
  .review__title {
    line-height: 138%;
  }
}
@media (max-width: 992px) {
  .main__container-services {
    max-width: 648px;
  }
  .advantages__container {
    max-width: 648px;
  }
  .review__container {
    max-width: 648px;
  }
  .publications__container {
    max-width: 648px;
  }
  .clients__container {
    max-width: 768px;
  }
  .clients__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .publications__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .pub-card:last-child {
    grid-column: 1/-1;
  }
  .img-clients {
    max-width: 256px;
    height: 120px;
  }
  .img-publications {
    min-width: 281px;
    height: 200px;
  }
  .review__title {
    line-height: 138%;
  }
  .main__container-services {
    display: block;
  }
  .main__services-list {
    flex-direction: row;
    column-gap: 30px;
  }
  .main__services-left {
    overflow-x: auto;
    /* дозволяє скролити горизонтально */
    overflow-y: hidden;
    /* ховає вертикальний */
    white-space: nowrap;
    /* забороняє перенос рядків */
    -webkit-overflow-scrolling: touch;
    /* плавний скролл на телефонах */
    padding-bottom: 124px;
  }
  .main__services-left::after {
    width: 648px;
    height: 4px;
    left: 0;
    top: 98px;
  }
  .advantages {
    padding-top: 60px 0;
  }
  .advantages__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .review__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .main__container-services {
    max-width: 315px;
  }
  .item {
    font-size: 30px;
  }
  .main__services-title {
    font-size: 20px;
  }
  .main__services-left {
    padding-bottom: 60px;
  }
  .main__services-left::after {
    top: 60px;
  }
  .advantages__container {
    max-width: 315px;
  }
  .advantages__title {
    font-size: 30px;
  }
  .advantages__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .review {
    padding-top: 50px;
  }
  .partner-person {
    max-width: 100%;
  }
  .review__content {
    margin-top: 0px;
    padding: 0 30px;
  }
  .clients__container {
    display: grid;
    text-align: center;
  }
  .clients {
    padding: 0px;
  }
  .clients__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-clients {
    max-width: 100%;
  }
  .clients__item:nth-child(n+7) {
    display: none;
  }
  .publications__container {
    max-width: 315px;
  }
  .publications__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=general.css.map */
