.footer {
  background-color: #F5F5FA;
}

.footer__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 0px;
}

.footer__above {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  gap: 26px;
}

.footer__below {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-top: 21px;
}

.footer__street {
  color: #323264;
  line-height: 100%;
  position: relative;
}
.footer__street::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: -12px;
}

.footer__map {
  color: #24A3FF;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__privacy {
  color: #B3B3BA;
  line-height: 100%;
  letter-spacing: 0px;
}

.footer__phone {
  color: #46466E;
  line-height: 100%;
  font-weight: 700;
  position: relative;
}
.footer__phone::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: -12px;
}
.footer__phone {
  position: relative;
}
.footer__phone::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -12px;
}

.footer__email {
  color: #24A3FF;
  font-weight: 700;
  line-height: 100%;
}

@media (max-width: 1680px) {
  .footer__container {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) {
  .footer__container {
    max-width: 904px;
  }
}
@media (max-width: 992px) {
  .footer__container {
    max-width: 398px;
    display: flex;
    flex-direction: column;
  }
  .footer__above {
    display: contents;
  }
  .footer__left {
    order: 1;
    display: flex;
    align-items: center;
  }
  .footer__below {
    order: 2;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer__privacy {
    order: 3;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer__above {
    display: contents;
  }
  .footer__left {
    order: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .footer__street::after {
    display: none;
  }
  .footer__map {
    text-align: center;
  }
  .footer__below {
    order: 2;
    display: grid;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    row-gap: 10px;
  }
  .footer__phone::after {
    display: none;
  }
  .footer__phone::before {
    display: none;
  }
  .footer__phone {
    text-align: center;
  }
  .footer__container-logo {
    display: flex;
    justify-content: center;
  }
  .footer__privacy {
    order: 3;
    text-align: center;
  }
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 50px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__content {
  display: grid;
}
.header__right-top {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header__languages {
  display: flex;
  align-items: center;
  gap: 0px;
}
.header__language-changer {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  border: 0px solid;
  background-color: transparent;
  letter-spacing: 1px;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.header__language-active {
  background-color: #F0145A;
  color: #FFFFFF;
}
.header__street {
  color: #B3B3BA;
  line-height: 100%;
  position: relative;
}
.header__street::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -12px;
}
.header__street {
  position: relative;
}
.header__street::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -12px;
}
.header__phone {
  color: #B3B3BA;
  line-height: 100%;
  font-weight: 700;
  position: relative;
}
.header__phone::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -12px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: end;
  align-items: flex-start;
  margin-top: 16px;
}

.item {
  color: #24A3FF;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}
.item-active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 4px;
}

@media (max-width: 1680px) {
  .header {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) {
  .header {
    max-width: 904px;
  }
}
@media (max-width: 992px) {
  .header {
    max-width: 648px;
  }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__content {
    display: contents;
  }
  .header__right-top {
    order: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .logo {
    order: 2;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }
  .header__right-bottom {
    order: 3;
    width: 100%;
  }
  .header__list {
    display: flex;
    gap: 15px;
    padding: 0;
    justify-content: start;
    margin-top: 0px;
  }
  .header .header__phone {
    margin: 0;
    padding: 0;
  }
  .header .header__phone::after,
  .header .header__phone::before {
    display: none;
    content: none;
  }
  .burger-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 100%;
    padding: 0px;
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }
  .header__right-top {
    background-color: #F5F5FA;
    gap: 0px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__list {
    display: none;
  }
  .header__content {
    order: -1;
  }
  .header .header__languages {
    margin-right: auto;
    margin-left: 0;
    padding-left: 15px;
  }
  .header .header__phone {
    padding-right: 15px;
  }
  .header .header__phone::after, .header .header__phone::before {
    display: none;
    content: none;
  }
  a img {
    padding-left: 15px;
  }
  .header__street,
  .facebook-img {
    display: none;
  }
  .logo {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    margin-right: 15px;
    outline: none;
    border: 0px;
  }
  .line {
    max-width: 18px;
    height: 3px;
    background-color: #2c2c54;
    display: block;
    margin-left: 7px;
  }
}
.team {
  margin: 60px 0;
}

.team__container-title {
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.team__title {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  background: linear-gradient(90deg, #F0145A 0%, #EF8080 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.team__container {
  max-width: 1600px;
  margin: 0 auto;
}

.team__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 60px;
}

.team-card__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.team-card__image {
  width: 100%;
}

.team-card__name {
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  margin-bottom: 9px;
}

.team-card__role {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.name-active:hover {
  color: #F0145A;
  cursor: pointer;
}

.team-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #EDEDF7;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.team-card__link::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-top: 2px solid #24A3FF;
  border-right: 2px solid #24A3FF;
  transform: rotate(45deg);
  margin-left: -5px;
}
.team-card__link:hover {
  background-color: #E6E6F0;
}
.team-card__link:hover::before {
  border-color: #F0145A;
}

@media (max-width: 1680px) {
  .team__container-title {
    max-width: 1080px;
  }
  .team__container {
    max-width: 1320px;
  }
  .team-card__image {
    max-width: 400px;
    height: 400px;
  }
}
@media (max-width: 1400px) {
  .team__container-title {
    max-width: 664px;
  }
  .team__container {
    max-width: 904px;
  }
  .team-card__image {
    max-width: 261px;
    height: 400px;
  }
}
@media (max-width: 992px) {
  .team__container-title {
    max-width: 648px;
  }
  .team__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .team__container {
    max-width: 648px;
  }
  .team-card__image {
    max-width: 291px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .team__container-title {
    max-width: 100%;
  }
  .team__container {
    max-width: 100%;
  }
  .team-card__image {
    max-width: 315px;
    height: 300px;
  }
  .team__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-card {
    display: grid;
    justify-content: center;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

body, p, h1, h2, h3, h4, h5, li, ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  margin: 0px;
  padding: 0px;
}

/*# sourceMappingURL=team.css.map */
