@use "variables" as *;

@mixin flex-v-center($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin circle-icon($size, $bg-color) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    background-color: $bg-color;
    border-radius: $radius-circle;
}

@mixin decorative-dot($color, $position: right, $top: 5px) {
    position: relative;

    &::#{if($position == 'right', 'after', 'before')} {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: $color;
        border-radius: $radius-circle;
        position: absolute;
        top: $top;
        
        @if $position == 'right' {
            right: -12px;
        } @else {
            left: -12px;
        }
    }
}

@mixin footer-dot($color, $position: right, $top: 5px) {
    position: relative;

    &::#{if($position == 'right', 'after', 'before')} {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: $color;
        border-radius: $radius-circle;
        position: absolute;
        top: $top;
        
        @if $position == 'right' {
            right: -16px;
        } @else {
            left: -16px;
        }
    }
}



@mixin text-gradient($color-from, $color-to) {
    background: linear-gradient(90deg, $color-from 0%, $color-to 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}