@use "../team-common/variables" as *;
@use "../team-common/mixins" as *;

.footer {
    background-color: $color-bg-light;
}

.footer__container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 30px 0px;
}

.footer__above {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    gap: 26px;
}

.footer__below {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 21px;
}

.footer__street {
    color: $color-text-dark;
    line-height: 100%;
    @include decorative-dot($color-text-main, right, 4px);
}

.footer__map {
    color: $color-secondary;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__privacy {
    color: $color-text-main;
    line-height: 100%;
    letter-spacing: 0px;
}

.footer__phone {
    color: $color-text-muted;
    line-height: 100%;
    font-weight: 700;
    @include decorative-dot($color-text-main, right, 4px);
    @include decorative-dot($color-text-main, left, 4px);
}

.footer__email {
    color: $color-secondary;
    font-weight: 700;
    line-height: 100%;
}

@include mq($bp-desktop-l) {
    .footer__container {
        max-width: 1320px;
    }
}

@include mq($bp-desktop-m) {
    .footer__container {
        max-width: 904px;
    }
}

@include mq($bp-tablet) {
    .footer__container {
        max-width: 398px;
        display: flex;
        flex-direction: column;
    }

    .footer__above {
        display: contents;
    }

    .footer__left {
        order: 1;
        display: flex;
        align-items: center;
    }

    .footer__below {
        order: 2;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer__privacy {
        order: 3;
        text-align: center;
    }
}

@include mq($bp-mobile) {
    .footer__container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer__above {
        display: contents;
    }

    .footer__left {
        order: 1;
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }

    .footer__street::after {
        display: none;
    }
    
    .footer__map {
        text-align: center;
    }

    .footer__below {
        order: 2;
        display: grid;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;
        row-gap: 10px;
    }

    .footer__phone::after {
        display: none;
    }

    .footer__phone::before {
        display: none;
    }

    .footer__phone {
        text-align: center;
    }

    .footer__container-logo {
        display: flex;
        justify-content: center;
    }

    .footer__privacy {
        order: 3;
        text-align: center;
    }
}