@use "../team-common/variables" as *;
@use "../team-common/mixins" as *;

.team {
    margin: 60px 0;
}

.team__container-title {
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.team__title {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 700;
    @include text-gradient($color-primary, $color-accent-pink);
}

.team__container {
    max-width: $container-max-width;
    margin: 0 auto;
}

.team__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 60px;
}

.team-card__content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.team-card__image {
    width: 100%;
}

.team-card__name {
    font-weight: 700;
    line-height: 100%;
    font-size: 16px;
    margin-bottom: 9px;
}

.team-card__role {
    font-size: 14px;
    line-height: 22px;
    color: $color-text-main;
}

.name-active:hover {
    color: $color-primary;
    cursor: pointer;
}

.team-card__link {
    @include circle-icon(32px, $color-bg-icon);
    transition: background-color 0.3s ease;

    &::before {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        border-top: 2px solid $color-secondary;
        border-right: 2px solid $color-secondary;
        transform: rotate(45deg);
        margin-left: -5px;
    }

    &:hover {
        background-color: $color-bg-icon-hover;

        &::before {
            border-color: $color-primary;
        }
    }
}

@include mq($bp-desktop-l) {
    .team__container-title {
        max-width: 1080px;
    }

    .team__container {
        max-width: 1320px;
    }

    .team-card__image {
        max-width: 400px;
        height: 400px;
    }
}

@include mq($bp-desktop-m) {
    .team__container-title {
        max-width: 664px;
    }

    .team__container {
        max-width: 904px;
    }

    .team-card__image {
        max-width: 261px;
        height: 400px;
    }
}

@include mq($bp-tablet) {
    .team__container-title {
        max-width: 648px;
    }

    .team__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .team__container {
        max-width: 648px;
    }

    .team-card__image {
        max-width: 291px;
        height: 400px;
    }
}

@include mq($bp-mobile) {
    .team__container-title {
        max-width: 100%;
    }

    .team__container {
        max-width: 100%;
    }

    .team-card__image {
        max-width: 315px;
        height: 300px;
    }

    .team__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-card {
        display: grid;
        justify-content: center;
    }
}