@use "./variables" as *;

body {
    margin: 0;
    background: radial-gradient(circle at bottom left, #643E72 0%, #323264 80%);
}

.review,
.clients{
    background-color: white; // або #fff, як у макеті
}

.publications {
    background-color: #F5F5FA;
}