$bc-header: #323264;
$bc-active-button: #F0145A;
$bc-dot: #E6E6F0;
$bc-line: rgba(255, 255, 255, 0.3);;
$bc-publications-content: white;
$bc-footer: #F5F5FA;
$bc-dot-footer: #B3B3BA;
$bc-line-footer: #E6E6F0;


$font-primary: "Montserrat", sans-serif;
$fw-regular: 400;
$fw-bold: 700;


$fs-regular: 16px;
$fs-s: 14px;
$fs-xs: 12px;
$fs-xxl: 38px;
$fs-xl: 30px;
$fs-l: 19px;
$fs-title-services: 20px;
$mini-title: 22px;

$color-white: white;
$color-list: #B3B3BA;
$color-aqua: #24A3FF;
$color-grey: #B3B3BA;
$text-black: black;
$title-clients: #323264;
$street-footer: #323264;
$phone-footer: #46466E;



$gradient-text-red-start: #EF8080;
$gradient-text-red-end:   #F0145A;

$gradient-text-red: linear-gradient(
  90deg,
  $gradient-text-red-start 0%,
  $gradient-text-red-end 100%
);

$red-primary: #F0145A; 
$red-secondary: #EF8080; 

$red-text-gradient: linear-gradient(
    90deg,
    $red-primary 10%, 
    $red-secondary 80% 
);

$bg-main: #323264;   
$bg-accent: #643E72; 
$gradient-supersoft: radial-gradient(
    circle at bottom left,
    $bg-accent 0%,
    $bg-main 60%
);

$rose-red-start: #F0145A;
$rose-red-end:   #EF8080;

$rose-red-gradient: linear-gradient(
    90deg,
    $rose-red-start 0%,
    $rose-red-start 45%,
    $rose-red-end 100%
);

$publications-title-gradient: linear-gradient(
    90deg,
    #F0145A 0%,
    #EF8080 30%
);